@media screen and (max-width: 425px) {
    .header {
        position: absolute;
        height: 4.5rem;
    }

    .header h1 {
        font-size: 2rem;
    }

    .banner {
        height: 22.5rem;
    }

    .banner h1 {
        font-size: 7rem;
    }

    #search, .rec-list {
        margin: 2rem 0 0 4%;
        border: 0.25rem solid #dbdbdb;
        border-radius: 0.3rem;
    }

    #search {
        height: 4.5rem;
        width: 90%;
        font-size: 2.25rem;
        padding: 0.4rem 1.5rem;
    }

    .rec-list {
        height: 65vh;
        width: 92.5%;
    }

    .rec-list__item {
        margin: 0 0 0 1.5rem;
        padding: 1.5rem 0 0 0;
        height: 4rem;
        width: 96%;
        border-bottom: 0.25rem solid #dbdbdb;
    }

    .rec-list__item p {
        font-size: 2rem;
    }
}