@media screen and (max-width: 425px) {
    .header {
        position: absolute;
        height: 4.5rem;
    }

    .header h1 { font-size: 2rem; }

    .banner { height: 25rem; }

    .banner h1 { font-size: 7rem; }

    #search, .rec-list {
        margin: 2rem 0 0 5%;
        border: 0.25rem solid #dbdbdb;
        border-radius: 0.3rem;
    }

    #search {
        font-size: 2.25rem;
        width: 87.4%;
        height: 4.5rem;

        padding: 0.4rem 1.5rem;
    }

    .rec-list {
        width: 90%;
        height: 80%;
    }

    .rec-list__error {
        font-size: 2.5rem;
    }

    .rec-list__item {
        width: 96%;
        height: 4rem;

        margin: 0 0 0 1.5rem;
        padding: 1.5rem 0 0 0;
        border-bottom: 0.25rem solid #dbdbdb;
    }

    .rec-list__item p { font-size: 2rem; }
}
